.card {
  width: 520px;
 
}
.border {
  border-radius: 4px;
  outline: none;
}
.font {
  font-style: italic;
  
  
}
.size {
  font-size: 12px;
  
}

.text {
  width: 300px;
}
.homebanner {
    background-image: url("./images/brooke-lark-08bOYnH_r_E-unsplash.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card
{
  background-color: #f0005f !important;
  width: 380px !important;
  height: 380px !important;
  
}
.font
{
 font-size: 25px !important;
 text-align: center;
 margin-top:10px !important;
 margin-left: 20px !important;
 
}
.size
{
  font-size: 25px !important;
  text-align: center;
}
.logo
{
  background-image:url("./images/d76ccc67610489.5b3f7fefee944-removebg-preview.png") ;
}
.color
{
   color: #ff4b92 !important;
}
.align
{
  margin-top:90px !important ;
  font-size:35px !important;
}