body {
  background-color: #e4edf2;
  height: 100vh !important;

}
#root{
overflow-x: hidden;
}
.card {
  width: 520px;
}
.border {
  border-radius: 4px;
  outline: none;
}
.font {
  font-style: italic;
}
.size {
  font-size: 12px;
}
.text {
  width: 300px;
}
.homebanner {
  background-image: url("./assets/image/background.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}

.card-color {
  background-color: #f0005f !important;
  font-size: 25px !important;
}
.text-color {
  font-size: 15px !important;
  color: #8a9198 !important;
}
.font-style {
  font-size: 30px !important;
  font-weight: bolder !important;
  font-style: normal !important;
}
.cursor-pointer {
  font-size: 13px !important ;
  font-style: normal;
  cursor: pointer !important;
}
.word-spacing {
  font-size: 13px !important ;
  cursor: pointer !important;
  font-style: normal;
  word-spacing: 12px !important;
  margin-right: 30px !important;
}
.login {
  color: #ff4b92 !important;
  font-weight: bolder !important;
  font-size: 17px !important;
  font-weight: bolder !important;
}
.card-border {
  color: #ced9de !important;
  width: 290px !important;
  border: none !important;
}
.btn {
  background-color: #406576 !important;
  width: 120px !important;

  font-size: 14px !important;
}
.outline-size-border {
  font-size: 15px !important ;
  border: none !important;
  outline: none !important;

}
.fontcolor-style {
  color: #ff9fc2 !important ;
  font-style: normal !important;

}
.logo-width {
  width: 100px !important;
}
.align-items {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.display-flex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.tableheading {
  font-size: 15px !important;
  color: #99a3c5 !important;
}
.textsize {
  font-size: 15px !important;
}
.hover:hover {
  background-color: white !important;
  color: #f0005f !important;
  border-radius: 5px !important;
}

body {
  background-color: #e4edf2 !important;
  height: 100vh !important;
}
.addressdetail {
  color: #99a3cc !important;
}

.sidebar {
  background-color: #ff3285 !important;
  height: 100vh !important;
}
.inputfield {
  border-radius: 5px !important;
  width: 100% !important;
  outline: 0 none !important;
}
.male {
  font-size: 15px !important;
}

.logo {
  width: 120px !important;
}

.personaldetail {
  color: #99a3cc !important;
}
.divider {
  --bs-breadcrumb-divider: ">" !important;
  font-size: 22px !important;
}
.customerdetail {
  font-size: 15px !important;
  color: #99a3c5 !important;
}
.buttoncolor {
  background-color: #f0005f !important;
}
.backgroundcolor {
  background-color: #ff4b92 !important;
}
.add-btn-color {
  background-color: #ff4b92 !important;
}

.pointer {
  cursor: pointer !important;
}
.formik {
  color: red !important;
}
.block {
  font-size: 15px !important;
}
.textarea {
  resize: none !important;
}
a:link {
  text-decoration: none !important;
}
.border {
  border: none !important ;
}
.header {
  background-color: #f0f6f6 !important;
}
.model {
  color: #99a3c5 !important;
}
.spinner {
  color: #ff4b92 !important ;
  position: absolute;
  top: 60%;
  left: 60%;
  margin-top: -20px;
  margin-left: -30px;
  width: 50px;
  height: 40px;
  text-align: center;
}
.ftsuserdata {
  color: #99a3cc !important;
}
.overflow-y
{
  overflow-y: hidden !important;
  height:100vh !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.image-width
{
 
  width: 121px !important;
}
.image-color{
  background-color:  #ff4b92  !important;
}
.offcanvas
{
  height:100vh !important;
  background-color:#ff3285 !important ;
}